node_modules
.DS_Store
.vscode
.idea
.cache
dist
build
coverage
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
bun-debug.log*
*.tsbuildinfo
.eslintcache
.nuxt
.output
.vercel
.serverless
.env
.env.*
**/.terraform/*
**/terraform.tfstate*
Thumbs.db
*.swp
